
<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Pesquisa de filmes
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content >
  <ion-grid style="background-color: rgba(192, 192, 192, 0.2);">
    <ion-row>
      <ion-searchbar [(ngModel)]="tituloFilmePesquisa" placeholder="Buscar filmes..." (ionBlur)="pesquisarFilme();"></ion-searchbar>
    </ion-row>
    <ion-row >
    <ion-col size="12">
      <ion-card *ngIf="filme.title != null && filme.title != undefined"> 
        <ion-card-content style="padding-left: 0px; background-color: white;">
          <ion-grid>
            <ion-row>
              <ion-col size-md="6">
                <ion-img [src]="filme.poster" style="width: 100%; " ></ion-img>
              </ion-col>
              <ion-col size-md="6">
                <ion-row>
                  <ion-label style="color: black">Titulo:</ion-label>
                </ion-row>
                <ion-row>
                  <ion-text>{{filme.title}}</ion-text>
                </ion-row>
                <ion-row>
                  <ion-label style="color: black">Data de lançamento:</ion-label>
                </ion-row>
                <ion-row>
                  <ion-text>{{filme.anoLancamento}}</ion-text>
                </ion-row>
                <ion-row>
                  <ion-label style="color: black">Faixa etária:</ion-label>
                </ion-row>
                <ion-row>
                  <ion-text>{{filme.classificacaoEtaria}}</ion-text>
                </ion-row>
                <ion-row>
                  <ion-label style="color: black">Diretor:</ion-label>
                </ion-row>
                <ion-row>
                  <ion-text>{{filme.diretor}}</ion-text>
                </ion-row>
                <ion-row>
                  <ion-label style="color: black">Duração:</ion-label>
                </ion-row>
                <ion-row>
                  <ion-text>{{filme.duracao}}</ion-text>
                </ion-row>
                <ion-row>
                  <ion-label style="color: black">Atores:</ion-label>
                </ion-row>
                <ion-row>
                  <ion-text>{{filme.atores}}</ion-text>
                </ion-row>
                <ion-row>
                  <ion-label style="color: black">Bilheteria:</ion-label>
                </ion-row>
                <ion-row>
                  <ion-text>{{filme.bilheteria}}</ion-text>
                </ion-row>
                <ion-row>
                  <ion-label style="color: black">Idioma:</ion-label>
                </ion-row>
                <ion-row>
                  <ion-text>{{filme.idiomaOriginal}}</ion-text>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content> 
      </ion-card>
      <ion-card *ngIf="filme.title != null && filme.title != undefined" style="background-color: white;">
        <ion-card-header style="padding-top:4%; padding-bottom: 2%;">
          <ion-card-title style="font-size: 18px;">Resumo</ion-card-title>
        </ion-card-header>
        <ion-grid>
          <ion-row padding style="padding-top: 1%;">
            <ion-text>
              {{filme.resumoFilme}}
            </ion-text>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card *ngIf="filme.title != null && filme.title != undefined" style="background-color: white;">
        <ion-card-header style="padding-top:4%; padding-bottom: 2%;" >
          <ion-card-title style="font-size: 18px;">Avaliações</ion-card-title>
        </ion-card-header>
        <ion-grid>
          <ion-row *ngFor="let avalicao of filme.avaliacoes" style="width: 100%;">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="../../assets/icon/{{setImageIconSiteAvaliacao(avalicao.Source)}}" style="width: 95%;">
              </ion-avatar>
              <ion-label style="color: black; ">{{avalicao.Source}}: </ion-label>
              <ion-text >{{avalicao.Value}}</ion-text>
            </ion-item>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>      
</ion-content>
